{% set title = 'Welkom op onze homepagina' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ mix('app.css') }}">
    <script defer src="{{ mix('app.js') }}"></script>
</head>
<body>
<h1>Twig!</h1>

{# Comment tag #}
<!-- Comment Tag (that stays in build) -->

{{ 'Render Tag' }}
{# {{ variable }}  #}
{{ 20/2 }}

<hr />

{# Logic Tags #}
{% if true %}
    Heye
    {% else %}
    Bye
{% endif %}

<hr />

{% apply spaceless %}
<h2>Twig rules</h2>
<div>
    <p>
        Lorem ipsum dolor sit amet
    </p>
    <small>
        Verry small, such wow!
    </small>
</div>
{% endapply %}

<hr />

{% set firstname = "Kilian" %}
{{ 'ya' ~ firstname }}
{{ 'ya' ~ ' ' ~ firstname }}

<hr />

{% set age = 30 %}
{% set weight = 72.6 %}
{% set isBald = true %}

{% set children = ["Piet", "Joris", "Korneel"] %}
{% set vehicles = {
    car: "BMW",
    scooter: "Piaggio"
} %}

{% set lastName %}
    <span class="styled-text">Modaal</span>
{% endset %}

{{ lastName }}

<hr />

{{ firstname | upper }}

<hr />

{{ firstname | capitalize }}

<hr />

{{ weight | round }}

<hr />

{{ children | length }}

<hr />

{{ now | date('d/m/Y') }}

<hr />

{{ random(1,10) }}

<hr />

{#{{ dump() }}#}
{{ dump(firstname) }}
{#{{ dump(craft.entries) }}#}

<hr />

{% if firstname %}
    De gebruiker is {{ firstname }}
{% elseif lastName %}
    De achternaam is {{ lastName }}
{% else %}
    Er is geen gebruiker
{% endif %}

<hr />

{% if firstname and weight > 150 %}
    De gebruiker is {{ firstname }} en weegt meer dan 150kg
{% elseif lastName and children|length < 4 %}
    De achternaam is {{ lastName }} en heeft minder dan 4 kinderen
{% endif %}

<hr />

{% if not isBald %}
    {{ firstname }} moet naar de kapper
{% endif %}

{#{% if firstname == 'Kilian' %}#}
{% if firstname is same as('Kilian') %}
    KiliJanjanjanjanjanjan!
{% endif %}

<hr />

{% if lastName is defined %}
{% endif %}

{% if children is empty %}
{% endif %}

Automerk is {{ vehicles.car }}

<hr />

Copyright - {{ now | date('Y') }}

<hr />

{% set otherChilds = ["Liam", "Jef"] %}
{% set allChilds = children | merge(otherChilds) %}

{% if allChilds | length %}
    <ul>
        Children:
        {% for child in allChilds %}
            <li>{{ child }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>